<app-page-content icon="bi-key" title="Change Password">

  <form [formGroup]="form" class="w-25 mt-4">
    <app-form-group label="Old Password" [valid]="form.get('oldPass')?.valid">
      <input formControlName="oldPass" type="password" placeholder="Enter Old Password" class="form-control">
    </app-form-group>

    <app-form-group label="New Password" [valid]="form.get('newPass')?.valid">
      <input formControlName="newPass" type="password" placeholder="Enter New Password" class="form-control">
    </app-form-group>

    <button [class.disabled]="!form.valid" type="button" class="btn btn-primary">
      <i class="bi-save"></i> Change Password
    </button>
  </form>
</app-page-content>
