<app-page-content icon="bi-tags" title="Ledger Management">

  <!-- Search Bar -->
  <form [formGroup]="form" class="row">
    <app-form-group label="Ledger Type" class="col-auto">
      <select formControlName="type" class="form-select">
        <option value="">All Type</option>
        <option value="Debit">Debit</option>
        <option value="Credit">Credit</option>
      </select>
    </app-form-group>

    <app-form-group label="Keyword" class="col-auto">
      <input formControlName="keyword" type="text" placeholder="Search Keyword" class="form-control">
    </app-form-group>

    <div class="btn-wrapper col">
      <button (click)="search()" class="btn btn-outline-primary">
        <i class="bi-search"></i> Search
      </button>

      <a (click)="addNew()" class="ms-2 btn btn-primary">
        <i class="bi-plus"></i> Add New
      </a>
    </div>
  </form>

  <!-- Table -->
  @if (contents().length > 0) {
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Code</th>
          <th>Ledger</th>
          <th>Type</th>
          <th class="text-end">Debit Total</th>
          <th class="text-end">Credit Total</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        @for (item of contents(); track $index) {
          <tr>
            <td>{{item.code}}</td>
            <td>{{item.accountName}}</td>
            <td>{{item.type}}</td>
            <td class="text-end">{{item.debitTotal}}</td>
            <td class="text-end">{{item.creditTotal}}</td>
            <td class="text-center">
              <a (click)="edit(item.code)" class="icon-link">
                <i class="bi-pencil"></i>
              </a>
            </td>
          </tr>
        }
      </tbody>
    </table>
  } @else {
    <div class="alert alert-info">There is no data.</div>
  }


  <!-- Pagination -->
  <app-pagination [pageInfo]="pageInfo()" (onLinkChange)="onLinkChange($event)" (onSizeChange)="onSizeChange($event)" ></app-pagination>

  <app-ledger-edit (onSave)="save($event)"></app-ledger-edit>

</app-page-content>
