/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/bootstrap-icons/font/bootstrap-icons';

html, body, .main-view {
  height: 100vh;
}

.main-view {
  display: flex;
}

.main-view > article {
  padding: 12px 20px;
}

.sidebar {
  width: 280px;
}

.sidebar > .title {
  margin: 12px 20px;
}

.sidebar > ul {
  padding: 0;
  margin: 0;
}

.sidebar > ul > li {
  list-style: none;
}

.sidebar > ul > li > a {
  display: block;
  text-decoration: none;
  color: gray;
  padding: 8px 20px;
}

.sidebar > ul > li > a:hover {
  background-color: skyblue;
}

.btn-wrapper {
  padding-top: 2rem;
}
