<app-page-content icon="bi-clipboard-pulse" title="Ledger Entry Details">

  <!-- Header Information -->
  <!-- Ledger (Code : Name) -->
  <h6 class="mt-3">{{details()?.ledgerCode}} - {{details()?.accountName}}</h6>
  <!-- Particular -->
  <p>{{details()?.particular}}</p>

  <div class="row">
    <!-- Transaction ID (trxDate-seq) -->
    <div class="col-3">
      <div class="input-group">
        <span class="input-group-text">Trx ID</span>
        <span class="form-control">{{details()?.trxId}}</span>
      </div>
    </div>

    <!-- Issue Date -->
    <div class="col-3">
      <div class="input-group">
        <span class="input-group-text">Issue At</span>
        <span class="form-control">{{details()?.issueAt}}</span>
      </div>
    </div>

    <!-- Entry At -->
    <div class="col-3">
      <div class="input-group">
        <span class="input-group-text">Entry At</span>
        <span class="form-control">{{details()?.entryAt}}</span>
      </div>
    </div>
  </div>

  <!-- Entry Items -->
  <h6 class="mt-4">Entry Items</h6>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="text-center column-seq">No</th>
        <th>Entry Info</th>
        <th class="text-end column-number">Unit Price</th>
        <th class="text-end column-number">Qty</th>
        <th class="text-end column-number">Total</th>
      </tr>
    </thead>

    <tbody>
      @for (item of items(); track $index) {
        <tr>
          <td class="text-center">{{$index + 1}}</td>
          <td>{{item.entryInfo}}</td>
          <td class="text-end">{{item.unitPrice | number}}</td>
          <td class="text-end">{{item.quantity}}</td>
          <td class="text-end">{{(item.unitPrice * item.quantity) | number}}</td>
        </tr>
      }
    </tbody>

    <tfoot>
      <tr>
        <th colspan="4" class="text-end">{{details()?.type}} Total</th>
        <th class="text-end">{{details()?.total | number}}</th>
      </tr>
    </tfoot>
  </table>

</app-page-content>
