<main class="main-view">
  <!-- Side Bar Menu -->
  <nav class="sidebar shadow">
    <h4 class="title">My Balance</h4>

    <ul>
      <li>
        <a [routerLink]="['/members/home']" routerLinkActive="active" >
          <i class="bi-house"></i> Home
        </a>
      </li>
      <li>
        <a [routerLink]="['/members/report']" routerLinkActive="active">
          <i class="bi-bar-chart"></i> Blance Report
        </a>
      </li>
      <li>
        <a [routerLink]="['/members/management/Credit']" routerLinkActive="active">
          <i class="bi-wallet"></i> Credit Management
        </a>
      </li>
      <li>
        <a [routerLink]="['/members/management/Debit']" routerLinkActive="active">
          <i class="bi-cart"></i> Debit Management
        </a>
      </li>
      <li>
        <a [routerLink]="['/members/ledger']" routerLinkActive="active">
          <i class="bi-tags"></i> Ledger Management
        </a>
      </li>
      <li>
        <a [routerLink]="['/members/password']" routerLinkActive="active">
          <i class="bi-key"></i> Change Password
        </a>
      </li>
      <li>
        <a href="#">
          <i class="bi-lock"></i> Sign Out
        </a>
      </li>

    </ul>
  </nav>

  <!-- Contents -->
  <article class="w-100">
    <router-outlet></router-outlet>
  </article>

</main>
