<div class="container mt-4 d-flex justify-content-between">
  <h3><i class="bi-bar-chart"></i> Balance Management System</h3>

  <div>
    <ul class="nav nav-underline">
      <li class="nav-item">
        <a href="#" class="nav-link active">
          <i class="bi-people"></i> Members
        </a>
      </li>
      <li class="nav-item">
        <a (click)="signOut()" class="nav-link">
          <i class="bi-lock"></i> Sign Out
        </a>
      </li>
    </ul>
  </div>
</div>

<main class="container mt-3">

  <form [formGroup]="form" class="row">
    <app-form-group label="Entry From" class="col-auto">
      <input formControlName="entryFrom" type="date" class="form-control">
    </app-form-group>

    <app-form-group label="Entry To" class="col-auto">
      <input formControlName="entryTo" type="date" class="form-control">
    </app-form-group>

    <app-form-group label="Last Access From" class="col-auto">
      <input formControlName="lastAccessFrom" type="date" class="form-control">
    </app-form-group>

    <app-form-group label="Last Access To" class="col-auto">
      <input formControlName="lastAccessTo" type="date" class="form-control">
    </app-form-group>

    <app-form-group label="Keyword" class="col-auto">
      <input formControlName="keyword" type="text" placeholder="Name or Email" class="form-control">
    </app-form-group>

    <div class="col btn-wrapper">
      <button (click)="search()" type="button" class="btn btn-outline-primary">
        <i class="bi-search"></i> Search
      </button>
    </div>

  </form>

  @if (content().length > 0) {
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Member</th>
          <th>Email</th>
          <th>Entry At</th>
          <th>Last Access</th>
          <th class="text-end">Ledgers</th>
          <th class="text-end">Last Month Entries</th>
          <th class="text-end">Entries</th>
        </tr>
      </thead>

      <tbody>
        @for (item of content(); track $index) {
          <tr>
            <td>{{item.name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.entryAt}}</td>
            <td>{{item.lastAccessAt}}</td>
            <td>{{item.ledgers}}</td>
            <td>{{item.lastMonthEntry}}</td>
            <td>{{item.totalEntry}}</td>
          </tr>
        }
      </tbody>

    </table>
  } @else {
    <div class="alert alert-info">
      There is no data.
    </div>
  }

  <app-pagination [pageInfo]="pageInfo()" (onLinkChange)="onLinkChange($event)" (onSizeChange)="onSizeChange($event)" ></app-pagination>
</main>
