<app-page-content [title]="title()" [icon]="icon()">

  <form [formGroup]="form" >
    <!-- Header -->
    <div class="row">
      <!-- Issue At -->
      <app-form-group label="Issue At" class="col-3">
        <input formControlName="issueAt" type="date" class="form-control">
      </app-form-group>

      <!-- Ledger Code -->
      <app-form-group label="Ledger Code" class="col-3">
        <input #ledgerCodeInput formControlName="ledgerCode" (change)="ledgerCode.set(ledgerCodeInput.value)" class="form-control" placeholder="Enter Ledger Code">
      </app-form-group>

      <!-- Account Name (Display Only) -->
      <app-form-group label="Ledger Acccount" class="col">
        <span class="form-control">{{ledger()?.accountName || 'Invalid ledger code'}}</span>
      </app-form-group>
    </div>

    <app-form-group label="Particular">
      <textarea formControlName="particular" placeholder="Enter particular information." class="form-control" cols="80" rows="2"></textarea>
    </app-form-group>

    <!-- Entry Items -->
    <h5>Entry Items</h5>

    <div formArrayName="items" >
      @for (item of items.controls; track $index) {
        <div [formGroupName]="$index" class="row">
          <!-- Entry Info -->
          <app-form-group mb="mb-2" [label]="$index == 0 ? 'Entry Info' : ''" class="col">
            <div class="input-group">
              <button (click)="removeItem($index)" type="button" class="btn btn-outline-primary input-group-text">
                <i class="bi bi-trash"></i>
              </button>
              <input type="text" formControlName="itemInfo" class="form-control" placeholder="Enter Entry Info">
            </div>
          </app-form-group>

          <div class="col">
            <div class="row">
              <!-- Unit Price -->
              <app-form-group mb="mb-2" [label]="$index == 0 ? 'Unit Price' : ''" class="col">
                <input formControlName="unitPrice" type="number" class="form-control">
              </app-form-group>

              <!-- Quantity -->
              <app-form-group mb="mb-2" [label]="$index == 0 ? 'Quantity' : ''" class="col">
                <input formControlName="quantity" type="number" class="form-control">
              </app-form-group>

              <!-- Total -->
              <app-form-group mb="mb-2" [label]="$index == 0 ? 'Total' : ''" class="col">
                <span class="form-control text-end">{{getItemTotal($index) | number}}</span>
              </app-form-group>

            </div>
          </div>
        </div>
      }

      <div class="row">
        <div class="offset-10 col-2 mb-3">
          <span class="form-control text-end">{{getTotal() | number}}</span>
        </div>
      </div>

    </div>


    <div>
      <!-- Add Entry Info -->
      <button (click)="addItem()" type="button" class="btn btn-outline-primary">
        <i class="bi-plus"></i> Add Item
      </button>

      <!-- Save Button -->
      <button (click)="save()" [class.disabled]="!form.valid" type="button" class="btn btn-primary ms-2">
        <i class="bi-save"></i> Save
      </button>
    </div>
  </form>

</app-page-content>
