<router-outlet></router-outlet>

<div class="modal" id="errorDialog" >
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title"><i class="bi-info"></i> Messages</h5>
      </div>

      <div class="modal-body">
        <ul>
          @for (item of messages(); track $index) {
            <li>{{item}}</li>
          }
        </ul>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          <i class="bi-x"></i> Close
        </button>
      </div>

    </div>
  </div>
</div>
